{% extends "base.html" %}
{% block content %}
<section id='contenido'>
	<form id='register' class='col-lg-4 col-lg-offset-4 navbar-inverse'method='POST' action='../../../../usuario/nuevo'>{% csrf_token %}
		<h2> Datos Personales</h2>
		{% if error %} 
			<script>
				$(document).on('ready',function(){
					alert('Todos los campos son requeridos');
				});
			</script>
		{% endif %}
		{% for campo in formulario%}
		{{campo}}<br/>
		
		{% endfor %}
			<input class='btn btn-success btn-lg' type="submit" value="Crear Usuario" /><br></td>
	</form>
</section>
{% endblock %}
{% block footer %}
<footer class="footer navbar-fixed-bottom">
        <p>&copy; RouTrash 2013 | Hackatón</p>
</footer>
{%endblock%}
